.main{
    -fx-background-color: transparent;
}

.pane{
    -fx-background-color: #00091a;
}

.btn-border{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-text-fill: whitesmoke;
}

.btnNotifications{
    -fx-background-color: #00091a;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-text-fill: whitesmoke;
}

.btn-border_signIn{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #ccccb3;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-text-fill: whitesmoke;
}

.vboxLogIn{
    -fx-background-color: #001133 ;
}

.login_credentials{
    -fx-background-color: transparent;
    -fx-border-color:  #999966;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: whitesmoke;
}

.profile{
    -fx-background-color: linear-gradient( #00394d,#001133);
}

.tool-bar{
    -fx-background-color: transparent;
}
.button:pressed{
    -fx-background-color: white;
    -fx-text-fill: #001133;
}

.btnToolBar{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #e6f9ff;
    -fx-border-radius: 0px;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: whitesmoke;
}


.friendsListHeaderLabel{
    -fx-background-color: transparent;
    -fx-text-fill: whitesmoke;
}
.list-view {
    -fx-background-color: transparent;
    -fx-text-bacground-color: whitesmoke;
}

.listFindFreinds{
    -fx-border-width: 0px 1px 1px 0px;
    -fx-border-color: whitesmoke;
}

.listFriendRequests{
    -fx-border-width: 0px 0px 1px 1px;
    -fx-border-color: whitesmoke;
}

.listFriends{
    -fx-border-width: 0px 0px 1px 1px;
    -fx-border-color: whitesmoke;
}
.listNotifications{
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: whitesmoke;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: whitesmoke;
}

.list-cell:focused {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #001133;
}

.btnFriendRequest{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #e6f9ff;
    -fx-border-radius: 0px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}

.btnTableView{
    -fx-background-color: #00394d;
    -fx-text-fill: white;
}

.table-view-column {
    -fx-background-color: transparent;
    -fx-border-color: whitesmoke;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-text-fill: whitesmoke;
}

.table-view {
    -fx-base: transparent;
    -fx-text-background-color: whitesmoke;
    -fx-background-color: transparent;

}

.table-row-cell:selected {
    -fx-background-color: whitesmoke;
    -fx-text-background-color: #001133;
}

.vboxMail{
    -fx-background-color: transparent;
}

.btnFriendProfile{
    -fx-background-color: #ccf2ff;
    -fx-background-radius: 5px;
    -fx-border-color: #00394d;
    -fx-border-radius: 0px;
    -fx-border-width: 1px;
    -fx-text-fill: #00394d;
}

.Xbutton{
    -fx-background-image: url("/images/x.png");
}

.tableRowCellSize {
    -fx-cell-size: 50px;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-width: 0px 1px 1px 1px;
    -fx-border-color: whitesmoke;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: whitesmoke;
}

.scroll-pane .scroll-bar .decrement-arrow,
.scroll-pane .scroll-bar .increment-arrow {
    -fx-background-color: whitesmoke;
}

.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: #001133;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.text-area{
    -fx-border-radius: 5px;
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #001133;
}

.listGroupChat{
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-color: whitesmoke;
}

.image{
   -fx-image: url("/images/x.png");
}